body{
    background-image: url(./Media/bg/pattern2.jpg);
    background-repeat: repeat;
}

.siteWrapper{
    height: 100vh;
    width: 960px;
    padding: 0px 80px;

    margin: 0 auto;
}

.navbar{
    padding: 0rem 0rem !important;
}

.bg-black{
    background-color: black;
}

.bg-green{
    background-color: green;
}

.bg-yellow{
    background-color: yellow;
}

.bg-red{
    background-color: red;
}




@import 'bootstrap/scss/bootstrap.scss'